XSD_V2012/TR_V2012/TR-MS_V2_0912.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="T_Date">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Devise">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="T_Mnt_Devise">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_Montant">
		<xs:simpleContent>
			<xs:extension base="T_Mnt_Devise">
				<xs:attribute name="Ccy" type="Devise" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EnteteDoc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CodeIAT" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code IAT</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DateDec" type="T_Date" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Date de déclaration</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CodeAnnexe" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code Annexe</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{2}-[0-9]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Transferts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Transfert" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Entete">
                                            <xs:complexType>
                                                <xs:sequence>
												  <xs:element name="PeriodDec" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Mois au cours duquel le transfert s'est effectué</xs:documentation>
													</xs:annotation>   
												    <xs:simpleType>
												  	<xs:restriction base="xs:string">
												  		<xs:pattern value="(0[1-9]|1[0-2])[0-9]{4}"/>
												  	</xs:restriction>	
												    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="NbrEcritures" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr"> Nombre de ligne de l'enregistrement détail</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
													  <xs:restriction base="xs:string">
														<xs:pattern value="\d{6}"/>
													  </xs:restriction>
													</xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Details">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Detail" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															 <xs:element name="PeriodDec" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Mois au cours duquel le transfert s'est effectué</xs:documentation>
																</xs:annotation>
															 	<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="(0[1-9]|1[0-2])[0-9]{4}"/>
																</xs:restriction>
															 	</xs:simpleType>
															  </xs:element>		 
															  <xs:element name="Agence" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Agence ayant réalisé le transfert</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																  <xs:restriction base="xs:string">
																	<xs:pattern value="\d{3}"/>
																  </xs:restriction>
																</xs:simpleType>
															  </xs:element>
															  <xs:element name="Benificiaire" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>																	 
																	  <xs:element name="CodeIdentifiant" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr"> Code identifiant du bénéficiaire des frais frais de mission / stage</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				<xs:length value="8"/>
																			  </xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="Nom" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Nom du bénificiaire </xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="30"/>
																			</xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="Prenom" minOccurs="1">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Prenom du bénéficiaire</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																			</xs:restriction>
																		</xs:simpleType>
																	  </xs:element>	  													
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="Employeur" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																	  <xs:element name="GroupClass" minOccurs="1">
																		  <xs:annotation>
																		  <xs:documentation source="Name" xml:lang="Fr"> Groupe de classification selon circulaire 91-02</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">	
																				<xs:enumeration value="A">
																					  <xs:annotation>
																						<xs:documentation>A = Groupe A </xs:documentation>
																					  </xs:annotation>
																				</xs:enumeration> 
																				<xs:enumeration value="B">
																					  <xs:annotation>
																						<xs:documentation>B = Groupe B </xs:documentation>
																					  </xs:annotation>
																				</xs:enumeration> 
																				<xs:enumeration value="C">
																					  <xs:annotation>
																						<xs:documentation>C = Groupe C</xs:documentation>
																					  </xs:annotation>
																				</xs:enumeration> 																					
																			  </xs:restriction>
																		  </xs:simpleType>									  
																	   </xs:element>																 																  
																	   <xs:element name="IdenEmploy" minOccurs="1">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Identifiant de l’employeur</xs:documentation>
																		</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">	
																						<xs:length value="8"/> 																			  
																					</xs:restriction>
																			   </xs:simpleType>	
																	  </xs:element>
																	  <xs:element name="DenomEmploy" minOccurs="1">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Dénomination de l’employeur</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																		  <xs:restriction base="xs:string">
																			<xs:maxLength value="80"/>
																		  </xs:restriction>
																		</xs:simpleType>
																	  </xs:element>																	 															
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="MissionStage">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="NatVoy" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Nature voyage (Libellé Opération)</xs:documentation>
																			</xs:annotation>																			
																				<xs:simpleType> 
																					<xs:restriction base="xs:integer"> 
																						<xs:pattern value="[1-2]"/>
																						<xs:enumeration value="1">
																						  <xs:annotation>
																							<xs:documentation>1 = Mission </xs:documentation>
																						  </xs:annotation>
																						</xs:enumeration>
																						<xs:enumeration value="2">
																						  <xs:annotation>
																							<xs:documentation>2 = Satge </xs:documentation>
																						  </xs:annotation>
																						</xs:enumeration>
																						
																					</xs:restriction>
																				</xs:simpleType> 
																		</xs:element>
																	    <xs:element name="NumMissStage" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Numéro de l’ordre de mission/décision de stage</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType> 
																					<xs:restriction base="xs:string"> 																					  
																						<xs:maxLength value="20"/>																				  
																					</xs:restriction>
																			</xs:simpleType> 	
																		</xs:element>   
																		<xs:element name="DatOrdMissStage" type="T_Date" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date de l’ordre de mission / stage</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																	    <xs:element name="DatDebdMissStage" type="T_Date" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date début mission/stage</xs:documentation>
																			</xs:annotation>
																	     </xs:element>
																		<xs:element name="DatFindMissStage" type="T_Date" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date fin mission /stage</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="NbreJrsMissStage" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Nombre de jours mission/stage </xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:pattern value="[0-9]{1,3}"/>
																			</xs:restriction>
																		  </xs:simpleType>
																	    </xs:element>
																		<xs:element name="PrisCharg" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Prise en charge </xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:restriction base="xs:integer">
																				<xs:pattern value="[1-2]"/>
																				<xs:enumeration value="1">
																					<xs:annotation>
																						<xs:documentation>1 = OUI </xs:documentation>
																					</xs:annotation>
																				</xs:enumeration>
																				<xs:enumeration value="2">
																					<xs:annotation>
																						<xs:documentation>2 = NON</xs:documentation>
																					</xs:annotation>
																				</xs:enumeration>	
																			</xs:restriction>
																		  </xs:simpleType>
																	    </xs:element>
																		<xs:element name="NatPrisCharg" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Nature de la prise en charge</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="xs:integer"> 
																					  	<xs:pattern value="[1-2]"/>
																					  	<xs:enumeration value="1">
																					  		<xs:annotation>
																					  			<xs:documentation>1 = Totale </xs:documentation>
																					  		</xs:annotation>
																					  	</xs:enumeration>
																					  	<xs:enumeration value="2">
																					  		<xs:annotation>
																					  			<xs:documentation>2 = Hébergement</xs:documentation>
																					  		</xs:annotation>
																					  	</xs:enumeration>	
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		   </xs:simpleType>
																	    </xs:element>
																		<xs:element name="TauxJr" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Taux journalier</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:pattern value="[0-9]{3}"/>
																			</xs:restriction>
																		  </xs:simpleType>
																	    </xs:element>
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>
															<xs:element name="OperationTransf" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																	  <xs:element name="ModTrans" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Mode de transfert</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:integer">
																			  	<xs:pattern value="[1-2]"/>
																				  <xs:enumeration value="1">
																					  <xs:annotation>
																						<xs:documentation>1 = Virement </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="2">
																					  <xs:annotation>
																						<xs:documentation>2 = espèces</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>																				 
																			  </xs:restriction>
																		  </xs:simpleType>									  
																	  </xs:element>
																	  <xs:element name="DatTrans" type="T_Date" minOccurs="1">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Date du Transfert</xs:documentation>
																		 </xs:annotation>
																	  </xs:element>
																	  <xs:element name="MntTransDev" type = 'T_Montant' minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Montant du transfert en devises</xs:documentation>
																		  </xs:annotation>																
																	  </xs:element>
																	  <xs:element name="CvMntTnd" type = 'T_Montant' minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Contre valeur en dinars du Montant du transfert </xs:documentation>
																		  </xs:annotation>									
																	  </xs:element>
																	  <xs:element name="NumAutBctSD" minOccurs="0">
																		  <xs:annotation>
																			  <xs:documentation source="Name" xml:lang="Fr">Numéro de l’autorisation de sortie des devises</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="xs:string"> 																					  
																					   <xs:maxLength value="10"/> 																			  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		   </xs:simpleType>
																       </xs:element>
																	   <xs:element name="DatAutBctSD" minOccurs="0">
																		  <xs:annotation>
																			  <xs:documentation source="Name" xml:lang="Fr">Date de l’autorisation de sortie des devises</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="T_Date" > 																					  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		  </xs:simpleType>
																	   </xs:element> 																						
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="RefFichInfo">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="NumFichInfo" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Numéro de la fiche d'information</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:union> 
																						<xs:simpleType> 
																							<xs:restriction base="xs:string"> 																					  
																								<xs:maxLength value="8"/> 																				  
																							</xs:restriction>
																						</xs:simpleType> 
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:length value="0"/> 
																							</xs:restriction> 
																						</xs:simpleType> 
																					</xs:union> 
																				</xs:simpleType>
																		</xs:element>
																	    <xs:element name="DatFichInfo" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date de la fiche d'information</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:union> 
																						<xs:simpleType> 
																							<xs:restriction base="T_Date" > 																					  
																							</xs:restriction>
																						</xs:simpleType> 
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:length value="0"/> 
																							</xs:restriction> 
																						</xs:simpleType> 
																					  </xs:union> 
																				</xs:simpleType>
																		</xs:element>                                                                                                  
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>
															<xs:element name="RefRetrocession" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																	  <xs:element name="Retroc" minOccurs="0">
																		  <xs:annotation>
																		  <xs:documentation source="Name" xml:lang="Fr"> Rétrocession (oui/non)</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																			    <xs:simpleType>
																				  <xs:restriction base="xs:integer">
																				  	<xs:pattern value="[1-2]"/>
																					  <xs:enumeration value="1">
																						  <xs:annotation>
																							<xs:documentation>1 = OUI </xs:documentation>
																						  </xs:annotation>
																					  </xs:enumeration>
																					  <xs:enumeration value="2">
																						  <xs:annotation>
																							<xs:documentation>2 = NON</xs:documentation>
																						  </xs:annotation>
																					  </xs:enumeration>																  
																				  </xs:restriction>
																				</xs:simpleType>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					</xs:restriction> 																				
																				</xs:simpleType>																				
																			   </xs:union>
																		  </xs:simpleType>
																	   </xs:element>
																	   <xs:element name="DatRetroc" minOccurs="0">
																		  <xs:annotation>
																			  <xs:documentation source="Name" xml:lang="Fr">Date de rétrocession</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="T_Date" > 																					  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		  </xs:simpleType>
																	   </xs:element> 
																	   <xs:element name="IaRetroc" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">IA auprès duquel s’est effectuée la rétrocession</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="2"/>
																					</xs:restriction>
																				  </xs:simpleType>
																				    <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		  </xs:simpleType> 																		 
																	  </xs:element>																	  
																	  <xs:element name="MotRetroc" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Motif de rétrocession</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:union> 
																			  <xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:pattern value="[1-2]"/>
																					<xs:enumeration value="1">
																						  <xs:annotation>
																							<xs:documentation>1 = Annulation Voyage </xs:documentation>
																						  </xs:annotation>
																					</xs:enumeration> 
																					<xs:enumeration value="2">
																						  <xs:annotation>
																							<xs:documentation>2 = Reliquat après retour </xs:documentation>
																						  </xs:annotation>
																					</xs:enumeration>
																				</xs:restriction>
																			  </xs:simpleType>
																			  <xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="0"/> 
																				</xs:restriction> 
																			  </xs:simpleType> 
																		</xs:union> 
																     </xs:simpleType> 
																		  
																	  </xs:element>
																	  <xs:element name="DatRetVoy"  minOccurs="0">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Date de retour du voyage </xs:documentation>
																		</xs:annotation>
																			<xs:simpleType>
																			<xs:union>
																				 <xs:simpleType> 
																					 <xs:restriction base="T_Date" > 																					  
																					 </xs:restriction>
																				</xs:simpleType> 
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="0"/> 
																					</xs:restriction> 
																				</xs:simpleType>
																			</xs:union>
																	  		</xs:simpleType>
																	  </xs:element>															  
																	  <xs:element name="MntRetrocDev"  minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Montant rétrocédé en devises</xs:documentation>
																		  </xs:annotation>
																		  	<xs:simpleType>
																			<xs:union>
																				<xs:simpleType>
																					<xs:restriction base="xs:decimal">
																						<xs:totalDigits value="17"/>
																						<xs:fractionDigits value="3"/>
																					</xs:restriction>
																				</xs:simpleType>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="0"/> 
																					</xs:restriction> 
																				</xs:simpleType>
																			</xs:union>
																	  		</xs:simpleType>
																
																	  </xs:element>
																	  <xs:element name="DevMntRetroc" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr"> Devises Mnt retrocédé</xs:documentation>
																			</xs:annotation>
																		 	<xs:simpleType>
																			<xs:union>
																				<xs:simpleType>
																						 <xs:restriction base="xs:string">
																							<xs:pattern value="[0-9]{3}"/>
																						</xs:restriction>
																				</xs:simpleType>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="0"/> 
																					</xs:restriction> 
																				</xs:simpleType>
																			</xs:union>
																		 		</xs:simpleType>																
																	 </xs:element>
																	  <xs:element name="CvMntRetTnd" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">C/V en TND du montant rétrocédé</xs:documentation>
																		  </xs:annotation>	
																		  <xs:simpleType>
																			<xs:union>
																				<xs:simpleType>
																					<xs:restriction base="xs:decimal">
																						<xs:totalDigits value="17"/>
																						<xs:fractionDigits value="3"/>
																					</xs:restriction>
																				</xs:simpleType>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="0"/> 
																					</xs:restriction> 
																				</xs:simpleType>
																			</xs:union>
																	  		</xs:simpleType>
																	  </xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="DecDouane">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="NumDecD" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">N° de déclaration douanière du reliquat des devises non utilisées </xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:union> 
																			  <xs:simpleType> 
																				<xs:restriction base="xs:string"> 																  
																					<xs:maxLength value="10"/> 																		
																				</xs:restriction>
																			  </xs:simpleType>
																			  <xs:simpleType>
																				  <xs:restriction base="xs:string">
																					  <xs:length value="0"/> 
																				  </xs:restriction> 
																			  </xs:simpleType> 
																			</xs:union> 
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DatDecD" minOccurs="0">
																	  <xs:annotation>
																		  <xs:documentation source="Name" xml:lang="Fr">Date de la déclaration douanière du reliquat des devises non utilisées</xs:documentation>
																	  </xs:annotation>
																	  <xs:simpleType>
																		  <xs:union> 
																			  <xs:simpleType> 
																					  <xs:restriction base="T_Date" > 																					  
																					  </xs:restriction>
																			  </xs:simpleType> 
																			  <xs:simpleType>
																				  <xs:restriction base="xs:string">
																					  <xs:length value="0"/> 
																				  </xs:restriction> 
																			  </xs:simpleType> 
																		  </xs:union> 
																	  </xs:simpleType>
																	</xs:element>															
																</xs:sequence>
															</xs:complexType>
															</xs:element>
														    <xs:element name="CodPaysDest" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Code Pays de destination de la mission/stage effectué</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="\d{3}"/>
																	</xs:restriction>
																</xs:simpleType>
														    </xs:element>
															<xs:element name="NatOp" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Nature de l'opération selon balance de paiement</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="\d{4}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>																
														</xs:sequence>
													</xs:complexType>
												</xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
