XSD_V2012/TR_V2012/TR-REM-EE_V3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="T_Date">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Devise">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="T_Mnt_Devise">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="17"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="T_Montant">
        <xs:simpleContent>
            <xs:extension base="T_Mnt_Devise">
                <xs:attribute name="Ccy" type="Devise" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EnteteDoc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CodeIAT" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code IAT</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DateDec" type="T_Date" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Date de déclaration</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CodeAnnexe" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code Annexe</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{2}-[0-9]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Transferts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Transfert" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Entete">
                                            <xs:complexType>
                                                <xs:sequence>
												 <xs:element name="AnneDec" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Année de déclaration des conventions d'emprunts extérieurs </xs:documentation>
													</xs:annotation>   
												    <xs:simpleType>
												  	<xs:restriction base="xs:string">
												  		<xs:pattern value="[0-9]{4}"/>
												  	</xs:restriction>	
												    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="PeriodDec" minOccurs="1">
                                                		<xs:annotation>
                                                			<xs:documentation source="Name" xml:lang="Fr">Trimestre de la déclaration de ce reporting</xs:documentation>
                                                		</xs:annotation>   
                                                		<xs:simpleType>
                                                			<xs:restriction base="xs:integer">
															    <xs:pattern value="[1-4]"/>
                                                				<xs:enumeration value="1">                                                                 																				  <xs:annotation>
                                                					<xs:documentation>1= Premier trimestre de l'année</xs:documentation>
                                                				</xs:annotation>
                                                				</xs:enumeration>
                                                				<xs:enumeration value="2">                                                                 																				  <xs:annotation>
                                                					<xs:documentation>2= 2ème trimestre de l'année</xs:documentation>
                                                				</xs:annotation>
                                                				</xs:enumeration>
                                                				<xs:enumeration value="3">                                                                 																				  <xs:annotation>
                                                					<xs:documentation>3= Troisième trimestre de l'année</xs:documentation>
                                                				</xs:annotation>
                                                				</xs:enumeration>
                                                				<xs:enumeration value="4">                                                                 																				  <xs:annotation>
                                                					<xs:documentation>4= Quatrième trimestre de l'année</xs:documentation>
                                                				</xs:annotation>
                                                				</xs:enumeration>						  	
                                                			</xs:restriction>	
                                                		</xs:simpleType>
                                                	</xs:element>
                                                  <xs:element name="NbrEcritures" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr"> Nombre de ligne de l'enregistrement détail</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
													  <xs:restriction base="xs:string">
														<xs:pattern value="\d{6}"/>
													  </xs:restriction>
													</xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Details">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Detail" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
														    <xs:element name="AnneDec" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Année de déclaration des conventions d'emprunts extérieurs </xs:documentation>
																</xs:annotation>   
																<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="[0-9]{4}"/>
																</xs:restriction>	
																</xs:simpleType>
                                                            </xs:element>
															<xs:element name="PeriodDec" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Trimestre de la déclaration de ce reporting</xs:documentation>
																</xs:annotation>   
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																	    <xs:pattern value="[1-4]"/>
																		<xs:enumeration value="1">                                                                 																				  <xs:annotation>
																			<xs:documentation>1= Premier trimestre de l'année</xs:documentation>
																		</xs:annotation>
																		</xs:enumeration>
																		<xs:enumeration value="2">                                                                 																				  <xs:annotation>
																			<xs:documentation>2= 2ème trimestre de l'année</xs:documentation>
																		</xs:annotation>
																		</xs:enumeration>
																		<xs:enumeration value="3">                                                                 																				  <xs:annotation>
																			<xs:documentation>3= Troisième trimestre de l'année</xs:documentation>
																		</xs:annotation>
																		</xs:enumeration>
																		<xs:enumeration value="4">                                                                 																				  <xs:annotation>
																			<xs:documentation>4= Quatrième trimestre de l'année</xs:documentation>
																		</xs:annotation>
																		</xs:enumeration>						  	
																	</xs:restriction>	
																</xs:simpleType>
															</xs:element>		 
															  <xs:element name="Agence" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Agence auprès de laquelle est domiciliée la convention d’emprunt extérieur</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																  <xs:restriction base="xs:string">
																	<xs:pattern value="\d{3}"/>
																  </xs:restriction>
																</xs:simpleType>
															  </xs:element>
															  <xs:element name="RefDomConvention">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="NumDomConv" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Numéro de domiciliation de la convention </xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string"> 																					  
																						<xs:length value="14"/>	
																					</xs:restriction>											
																				</xs:simpleType>
																		</xs:element>
																	    <xs:element name="DatDomConv" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date de domiciliation de la convention d'empruntla convention </xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="T_Date" > 																					  
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 																																	
																	</xs:sequence>														
																</xs:complexType>
															   </xs:element>
															  <xs:element name="EmprunteurPreteur" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																	  <xs:element name="MatFiscalSocEmp" minOccurs="1">
																		  <xs:annotation>
																		  <xs:documentation source="Name" xml:lang="Fr">Matricule Fiscal de la société emprunteuse</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				 	<xs:length value="8"/>
																			  </xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="DenomSocEmp" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Dénomination de la société emprunteuse</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				<xs:maxLength value="80"/>
																			  </xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="DenomOrgPret" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Dénomination de l'organisme prêteur</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="80"/>
																			</xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>																
																	</xs:sequence>
																</xs:complexType>
															</xs:element>																														
															<xs:element name="MntTransfDevise">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="MntTotRembTrsfDev" type = 'T_Montant' minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Montant total de remboursement transféré en devises</xs:documentation>
																			</xs:annotation>								
																		</xs:element>
																	    <xs:element name="MntPrincTrsfDev" type = 'T_Montant' minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Montant en principal transféré en devises</xs:documentation>
																			</xs:annotation>																			
																		</xs:element>	
																		<xs:element name="MntInteretsTrsfDev" type = 'T_Montant' minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Intérêts transférés en devises</xs:documentation>
																			</xs:annotation>								
																		</xs:element>
																		<xs:element name="AutresChargesTrsfDev" type = 'T_Montant' minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Autres charges transférées en devises</xs:documentation>
																			</xs:annotation>								
																		</xs:element>																															
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>
															<xs:element name="ConterValMontant">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="CVMntTndTotTrsf" type = 'T_Montant' minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Contre-valeur en dinars du montant total transféré </xs:documentation>
																			</xs:annotation>								
																		</xs:element>
																		<xs:element name="CVMntTndPrinTrsf" type = 'T_Montant' minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Contre-valeur en dinars du montant en principal transféré </xs:documentation>
																			</xs:annotation>								
																		</xs:element>
																		<xs:element name="InteretsTndTrsf" type = 'T_Montant' minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Contre-valeur en dinars des intérêts transférés</xs:documentation>
																			</xs:annotation>								
																		</xs:element>
																		<xs:element name="CVAutresChargesTrsf" type = 'T_Montant' minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Contre-valeur en dinars des autres charges transférées</xs:documentation>
																			</xs:annotation>								
																		</xs:element>
																		<xs:element name="TauxInterets"  minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Taux d’Intérêts</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:pattern value="[0-9]{1,3}"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>								    																														
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>
															<xs:element name="RefFicheInfo">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="NumFichInfo" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Numéro de la fiche d’informations</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string"> 																					  
																						<xs:pattern value="[0-9]{8}"/>
																					</xs:restriction>											
																				</xs:simpleType>
																		</xs:element>
																	    <xs:element name="DatFichInfo" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date de la fiche d’informations</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="T_Date" > 																					  
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 																																	
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>
													        <xs:element name="ReliquatMntPrRemb" type='T_Montant' minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Reliquat du montant en principal à rembourser en TND</xs:documentation>
																</xs:annotation>
															</xs:element> 	
														</xs:sequence>
													</xs:complexType>
												</xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
