XSD_V2012/TR_V2012/TR-SC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="T_Date">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Devise">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="T_Mnt_Devise">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="17"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="T_Montant">
        <xs:simpleContent>
            <xs:extension base="T_Mnt_Devise">
                <xs:attribute name="Ccy" type="Devise" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EnteteDoc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CodeIAT" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code IAT</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DateDec" type="T_Date" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Date de déclaration</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CodeAnnexe" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code Annexe</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{2}-[0-9]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Transferts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Transfert" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Entete">
                                            <xs:complexType>
                                                <xs:sequence>
												  <xs:element name="PeriodDec" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Mois au cours duquel le transfert s'est effectué</xs:documentation>
													</xs:annotation>   
												    <xs:simpleType>
												  	<xs:restriction base="xs:string">
												  		<xs:pattern value="(0[1-9]|1[0-2])[0-9]{4}"/>
												  	</xs:restriction>	
												    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="NbrEcritures" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr"> Nombre de ligne de l'enregistrement détail</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
													  <xs:restriction base="xs:string">
														<xs:pattern value="\d{6}"/>
													  </xs:restriction>
													</xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Details">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Detail" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															 <xs:element name="PeriodDec" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Mois au cours duquel le transfert s'est effectué</xs:documentation>
																</xs:annotation>
															 	<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="(0[1-9]|1[0-2])[0-9]{4}"/>
																</xs:restriction>
															 	</xs:simpleType>
															  </xs:element>		 
															  <xs:element name="Agence" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Agence ayant réalisé le transfert</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																  <xs:restriction base="xs:string">
																	<xs:pattern value="\d{3}"/>
																  </xs:restriction>
																</xs:simpleType>
															  </xs:element>
															  <xs:element name="DomScolarite" minOccurs="1">
															  	<xs:complexType>											
																	<xs:sequence>
																		<xs:element name="NumDomDosScol" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Numéro de domiciliation du dossier de scolarité</xs:documentation>
																			</xs:annotation>																  
																			<xs:simpleType> 
																			  <xs:restriction base="xs:string">
																				<xs:length value ="13"/>
																			  </xs:restriction>
																		    </xs:simpleType>																																	
																       </xs:element>
																	   <xs:element name="DateDomDosScol" minOccurs="1">
																		  <xs:annotation>
																			  <xs:documentation source="Name" xml:lang="Fr">Date de domiciliation du dossier de scolarité</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType> 
																			<xs:restriction base="T_Date" > 																					  
																			</xs:restriction>
																		  </xs:simpleType> 																				 
																	   </xs:element> 
																	</xs:sequence>
																</xs:complexType>
															  </xs:element>
															  <xs:element name="OperationTransf" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																	  <xs:element name="LibOp" minOccurs="1">
																		  <xs:annotation>
																		  <xs:documentation source="Name" xml:lang="Fr"> Libellé Opération</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:integer">
																			  	<xs:pattern value="[1-3]"/>
																				  <xs:enumeration value="1">
																					  <xs:annotation>
																						<xs:documentation>1 = frais de séjours </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="2">
																					  <xs:annotation>
																						<xs:documentation>2 = frais d'installation</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="3">
																					  <xs:annotation>
																						<xs:documentation>3 = frais d'étude</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																			  </xs:restriction>
																		  </xs:simpleType>									  
																	  </xs:element>
																	  <xs:element name="MntTransDev" type = 'T_Montant' minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Montant du transfert en devises</xs:documentation>
																		  </xs:annotation>																
																	  </xs:element>
																	  <xs:element name="CvMntTnd" type = 'T_Montant' minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Contre valeur en dinars du Montant du transfert </xs:documentation>
																		  </xs:annotation>									
																	  </xs:element>
																	  <xs:element name="DatTrans" type="T_Date" minOccurs="1">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Date du transfert</xs:documentation>
																		</xs:annotation>
																	  </xs:element>																	  
																	  <xs:element name="ModTrans" minOccurs="1">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Mode du transfert</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			  <xs:restriction base="xs:integer">
																			  	<xs:pattern value="[1-3]"/>
																				  <xs:enumeration value="1">
																					  <xs:annotation>
																						<xs:documentation>1 = especes </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="2">
																					  <xs:annotation>
																						<xs:documentation>2 = Cheque</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>	
																				  <xs:enumeration value="3">
																					  <xs:annotation>
																						<xs:documentation>3 = Virement</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>	
																			  </xs:restriction>
																		</xs:simpleType>
																	  </xs:element>
																	  <xs:element name="CodPaysDest" minOccurs="1">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Pays de destination de transfert</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:pattern value="\d{3}"/>
																			</xs:restriction>
																		</xs:simpleType>
																	  </xs:element>
																	  <xs:element name="NumAutBctSD" minOccurs="0">
																	  <xs:annotation>
																		  <xs:documentation source="Name" xml:lang="Fr">Numéro de l’autorisation de sortie des devises</xs:documentation>
																	  </xs:annotation>
																	  <xs:simpleType>
																		  <xs:union> 
																			  <xs:simpleType> 
																				  <xs:restriction base="xs:string"> 																					  
																				  	<xs:maxLength value="10"/>																					  
																				  </xs:restriction>
																			  </xs:simpleType> 
																			  <xs:simpleType>
																				  <xs:restriction base="xs:string">
																					  <xs:length value="0"/> 
																				  </xs:restriction> 
																			  </xs:simpleType> 
																		  </xs:union> 
																	   </xs:simpleType>
																       </xs:element>
																	  <xs:element name="DatAutBctSD" minOccurs="0">
																		  <xs:annotation>
																			  <xs:documentation source="Name" xml:lang="Fr">Date de l’autorisation de sortie des devises</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="T_Date" > 																					  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		  </xs:simpleType>
																	   </xs:element> 
																	   <xs:element name="NatOp" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Nature de l’opération selon balance des paiements</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				<xs:pattern value="\d{4}"/>
																			  </xs:restriction>
																		  </xs:simpleType>
																	   </xs:element>																	
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="RefAutorisationBct">
															    <xs:complexType>
																	<xs:sequence>																  
																		  <xs:element name="NumAutBCT" minOccurs="0">
																		  <xs:annotation>
																			  <xs:documentation source="Name" xml:lang="Fr">Numéro de l’autorisation de la BCT </xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="xs:string"> 																					  
																					  	<xs:maxLength value="16"/>																				  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="DatAutBCT" minOccurs="0">
																		  <xs:annotation>
																			  <xs:documentation source="Name" xml:lang="Fr">Date de l’autorisation de la BCT </xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="T_Date" > 																					  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		  </xs:simpleType>
																	  </xs:element>                                                                                                  
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>
															<xs:element name="RefFichInfo">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="NumFichInfo" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Numéro de la fiche d'information</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:union> 
																						<xs:simpleType> 
																							<xs:restriction base="xs:string"> 																					  
																								<xs:maxLength value="16"/>																					  
																							</xs:restriction>
																						</xs:simpleType> 
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:length value="0"/> 
																							</xs:restriction> 
																						</xs:simpleType> 
																					</xs:union> 
																				</xs:simpleType>
																		</xs:element>
																	    <xs:element name="DatFichInfo" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date de la fiche d'information</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:union> 
																						<xs:simpleType> 
																							<xs:restriction base="T_Date" > 																					  
																							</xs:restriction>
																						</xs:simpleType> 
																						<xs:simpleType>
																							<xs:restriction base="xs:string">
																								<xs:length value="0"/> 
																							</xs:restriction> 
																						</xs:simpleType> 
																					  </xs:union> 
																				</xs:simpleType>
																		</xs:element>                                                                                                  
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
