DEC-CORE-dev/src/main/resources/xsd/XSD_V2012/CRS_V2012/CRS-CPD-VDPL_V2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="T_Date">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Devise">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="T_Mnt_Devise">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="17"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="T_Montant">
        <xs:simpleContent>
            <xs:extension base="T_Mnt_Devise">
                <xs:attribute name="Ccy" type="Devise" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EnteteDoc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CodeIAT" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code IAT</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DateDec" type="T_Date" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Date de déclaration</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CodeAnnexe" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code Annexe</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{3}-[0-9]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="PeriodDec" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Période de declaration à la BCT</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="(0[1-9]|1[0-2])[0-9]{4}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Extraits">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Extrait" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Entete">
                                            <xs:complexType>
                                                <xs:sequence>

                                                  <xs:element name="NbrEcritures" minOccurs="1">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr"> Nombre de ligne de l'enregistrement détail</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:pattern value="\d{6}"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Details">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Detail" maxOccurs="unbounded">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="Agence" minOccurs="1">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Agence auprès de laquelle a été réalisé l’opération de placement ou de vente de devises</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:pattern value="\d{3}"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="Operateur" minOccurs="1">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="TypeOp" minOccurs="1">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Type </xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:integer">
                                                  <xs:pattern value="[1-4]"/>
                                                  <xs:enumeration value="1">
                                                  <xs:annotation>
                                                  <xs:documentation>1 = PM</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="2">
                                                  <xs:annotation>
                                                  <xs:documentation>2 = PP</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="3">
                                                  <xs:annotation>
                                                  <xs:documentation>3 = Association</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="4">
                                                  <xs:annotation>
                                                  <xs:documentation>4 = fonds d’investissement </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="TypeIdentifiant" minOccurs="1">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr"> Type de l'identifiant du beneficiaire du compte</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="C">
                                                  <xs:annotation>
                                                  <xs:documentation>C = CIN </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="P">
                                                  <xs:annotation>
                                                  <xs:documentation>P = passeport</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="S">
                                                  <xs:annotation>
                                                  <xs:documentation>S = Carte de séjour</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="D">
                                                  <xs:annotation>
                                                  <xs:documentation> D = matricule fiscal</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="CodeIdentifiant" minOccurs="1">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr"> Code identifiant du titulaire du compte</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:maxLength value="15"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="Nom" minOccurs="0">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Nom du béneficiare</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:maxLength value="30"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="Prenom" minOccurs="0">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Prenom du béneficiare</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:maxLength value="30"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="RaisSociale" minOccurs="0">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Raison sociale du titulaire du compte</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:maxLength value="80"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="RefOperation" minOccurs="1">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="NatMvtOp" minOccurs="1">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Nature du mouvement</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="VD">
                                                  <xs:annotation>
                                                  <xs:documentation>VD =Vente de devises</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="PL">
                                                  <xs:annotation>
                                                  <xs:documentation>PL = Placement</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="MntOpDev" type="T_Montant"
                                                  minOccurs="1">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Montant de l’opération en devises</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element name="MntOpDin" type="T_Montant"
                                                  minOccurs="1">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">la CV en TND du montant de l’opération</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element name="DateMvt" type="T_Date"
                                                  minOccurs="1">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Date du mouvement </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element name="EncoursPlac" minOccurs="0">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">L'encours de placement</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:union>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:decimal">
                                                  <xs:totalDigits value="17"/>
                                                  <xs:fractionDigits value="3"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:length value="0"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:union>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="NatOp" minOccurs="0">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Nature de l’opération sous-jacente selon balance des paiements</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:union>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:pattern value="\d{4}"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:length value="0"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:union>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="RefSupport">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="SuppOp" minOccurs="0">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Support de l'opération</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:union>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:integer">
                                                  <xs:pattern value="[1-4]"/>
                                                  <xs:enumeration value="1">
                                                  <xs:annotation>
                                                  <xs:documentation>1 = autorisation de la BCT</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="2">
                                                  <xs:annotation>
                                                  <xs:documentation>2 = Fiche d'informations</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="3">
                                                  <xs:annotation>
                                                  <xs:documentation>3 = Titre de commerce extérieur </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="4">
                                                  <xs:annotation>
                                                  <xs:documentation>4 = Autre</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:length value="0"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:union>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="NumSupp" minOccurs="0">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Numéro du support ayant servi à l’exécution de l’opération</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:union>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:maxLength value="16"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:length value="0"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:union>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="DateSupp" minOccurs="0">
                                                  <xs:annotation>
                                                  <xs:documentation source="Name" xml:lang="Fr">Date du support ayant servi à l’exécution de l’opération</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:simpleType>
                                                  <xs:union>
                                                  <xs:simpleType>
                                                  <xs:restriction base="T_Date"> </xs:restriction>
                                                  </xs:simpleType>
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:length value="0"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:union>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
