DEC-CORE-dev/src/main/resources/xsd/XSD_V2012/TR_V2012/MAJ_TR-RD_V3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="T_Date">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Devise">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="T_Mnt_Devise">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="17"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="T_Montant">
        <xs:simpleContent>
            <xs:extension base="T_Mnt_Devise">
                <xs:attribute name="Ccy" type="Devise" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EnteteDoc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CodeIAT" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code IAT</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DateDec" type="T_Date" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Date de déclaration</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CodeAnnexe" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code Annexe</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{2}-[0-9]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Transferts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Transfert" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Entete">
                                            <xs:complexType>
                                                <xs:sequence>
												  <xs:element name="JrDec" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Journée de declaration du fichier à la BCT</xs:documentation>
													</xs:annotation>   
												    <xs:simpleType>
												  	<xs:restriction base="T_Date">
												  	</xs:restriction>	
												    </xs:simpleType>
                                                  </xs:element>											
                                                  <xs:element name="NbrEcritures" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr"> Nombre de ligne de l'enregistrement détail</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
													  <xs:restriction base="xs:string">
														<xs:pattern value="\d{6}"/>
													  </xs:restriction>
													</xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Details">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Detail" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															 <xs:element name="JrDec" minOccurs="1">
															 <xs:annotation>
																<xs:documentation source="Name" xml:lang="Fr">Journée de declaration du fichier à la BCT</xs:documentation>
															 </xs:annotation>   
																<xs:simpleType>
																<xs:restriction base="T_Date">
																</xs:restriction>	
																</xs:simpleType>
															  </xs:element> 
															  <xs:element name="Agence" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Agence a effectué le transfert</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																  <xs:restriction base="xs:string">
																	<xs:pattern value="\d{3}"/>
																  </xs:restriction>
																</xs:simpleType>
															  </xs:element>	
															   <xs:element name="CodTitre" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Code titre de l'oprération R/D</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																  <xs:restriction base="xs:string">
																	<xs:pattern value="\d{2}"/>
																  </xs:restriction>
																</xs:simpleType>
															  </xs:element>	
															  <xs:element name="RefIdentification">
																<xs:complexType>
																	<xs:sequence>																																			
																		<xs:element name="RefIden" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Reference d'identification</xs:documentation>
																		    </xs:annotation>
																			<xs:simpleType>
																			<xs:union>
																		    <xs:simpleType>																			
																			  <xs:restriction base="xs:string">
																				<xs:length value="7"/> 
																			   </xs:restriction>					   
																		     </xs:simpleType>
																			 <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				  <xs:length value="0"/> 
																			  </xs:restriction> 
																			 </xs:simpleType> 																			
																			</xs:union>
																			</xs:simpleType>
																		</xs:element>
																	    <xs:element name="DatRefIden" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date reference d'identification </xs:documentation>
																			</xs:annotation>
																			 <xs:simpleType>
																				<xs:union>
																			    <xs:simpleType>
																					<xs:restriction base="T_Date" >
																					
																					</xs:restriction>
																				</xs:simpleType>
																				<xs:simpleType>
																			  <xs:restriction base="xs:string">
																				  <xs:length value="0"/> 
																			  </xs:restriction> 
																			 </xs:simpleType> 																			
																			</xs:union>
																			</xs:simpleType>
																		</xs:element> 
																		
																	</xs:sequence>														
																</xs:complexType>
															   </xs:element>
															    <xs:element name="CodRD" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Code R/D</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																			  <xs:restriction base="xs:string">
																				<xs:pattern value="\d{2}"/>
																			  </xs:restriction>
																			</xs:simpleType>
																		</xs:element>
															   	<xs:element name="Operateur">
																<xs:complexType>
																	<xs:sequence>																																			
																		<xs:element name="TypOp" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Type opérateur</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																			  <xs:restriction base="xs:string">
																				  <xs:enumeration value="C">
																					  <xs:annotation>
																						<xs:documentation>C = CIN </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="P">
																					  <xs:annotation>
																						<xs:documentation>P = Passeport</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="S">
																					  <xs:annotation>
																						<xs:documentation>S = Carte de séjour</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="D">
																					  <xs:annotation>
																						<xs:documentation>D = Identifiant unique</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="F">
																					  <xs:annotation>
																						<xs:documentation>F = Code financier </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  
																			   </xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	    <xs:element name="CodOp" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Code opérateur </xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string" >
																						<xs:maxLength value="15"/>
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 
																		<xs:element name="Nom" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Nom opérateur </xs:documentation>
																			</xs:annotation>
																			 <xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="30"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element> 
																		
																		<xs:element name="Prenom" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Prenom opérateur</xs:documentation>
																			</xs:annotation>
																			 <xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="30"/>
																				</xs:restriction>
																		  </xs:simpleType>
																			
																		</xs:element> 
																		<xs:element name="DenomOp" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Dénomination de l'opérateur</xs:documentation>
																			</xs:annotation>	
																			<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="80"/>
																			</xs:restriction>
																		  </xs:simpleType>
																		</xs:element> 	
																			
																	</xs:sequence>														
																</xs:complexType>
															   </xs:element>
															  <xs:element name="OperationTransf" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																	  <xs:element name="MntTransDev" type="T_Montant" minOccurs="1">
																		   <xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Montant de l'opération en devise </xs:documentation>
																		  </xs:annotation>																		 																		  
																																				  
																	 </xs:element>
																	  <xs:element name="CvMntTnd" type="T_Montant" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">CV en TND du montant du transfert</xs:documentation>
																		  </xs:annotation>									  
																	  </xs:element>
																	   <xs:element name="DatValOp" type="T_Date"  minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Date valeur de l'opération</xs:documentation>
																		  </xs:annotation>
																		  										
																	  </xs:element>
																	  <xs:element name="Rib"  minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Rib du compte</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:union> 
																			  <xs:simpleType> 
																				  <xs:restriction base="xs:string"> 																  
																					  <xs:length value="20"/>
																						 </xs:restriction>
																			  </xs:simpleType> 
																			  <xs:simpleType>
																				  <xs:restriction base="xs:string">
																					  <xs:length value="0"/> 
																				  </xs:restriction> 
																			  </xs:simpleType> 
																			</xs:union> 
																			</xs:simpleType>
																			 
																	  </xs:element>
																	   <xs:element name="NatCpte" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Nature de compte </xs:documentation>
																		  </xs:annotation>
																		   <xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="20"/>
																			</xs:restriction>
																		  </xs:simpleType>																																																					
																	  </xs:element>					
															<xs:element name="NatOp" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Code nature opération</xs:documentation>
																</xs:annotation> 																			
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:pattern value="\d{4}"/>
																		</xs:restriction>
																	</xs:simpleType>															
															</xs:element>
															<xs:element name="CodBenif" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Code bénéficiaire</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="15"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="NomPrenomDenomBenif" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Nom Prenom / Dénomination du bénéficiaire </xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:maxLength value="80"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="CodPaysDest" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Code pays de destination du transfert</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="\d{3}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
																					  
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="RefAutorisationBct">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="NumAutBCT" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation source="Name" xml:lang="Fr">N° autorisation BCT</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:union> 
																		  <xs:simpleType> 
																			  <xs:restriction base="xs:string"> 																  
																				  <xs:maxLength value="16"/>
																					 </xs:restriction>
																		  </xs:simpleType> 
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				  <xs:length value="0"/> 
																			  </xs:restriction> 
																		  </xs:simpleType> 
																		</xs:union> 
																</xs:simpleType>
															</xs:element>
															<xs:element name="DatAutBCT" minOccurs="0">
															  <xs:annotation>
																  <xs:documentation source="Name" xml:lang="Fr">Date autorisation BCT</xs:documentation>
															  </xs:annotation>
															  <xs:simpleType>
																  <xs:union> 
																	  <xs:simpleType> 
																		  <xs:restriction base="T_Date"> 																  																		
																		  </xs:restriction>
																	  </xs:simpleType> 
																	  <xs:simpleType>
																		  <xs:restriction base="xs:string">
																			  <xs:length value="0"/> 
																		  </xs:restriction> 
																	  </xs:simpleType> 
																  </xs:union> 
															  </xs:simpleType>
															</xs:element>															
														</xs:sequence>
													</xs:complexType>
                                                  </xs:element>
												  <xs:element name="CodSwift" minOccurs="0">
													  <xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Reference message SWIFT du transfert </xs:documentation>
													  </xs:annotation>
													  <xs:simpleType>
														  <xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														  </xs:restriction>
													  </xs:simpleType>
                                                  </xs:element>
												  
														</xs:sequence>
													</xs:complexType>
												</xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
