DEC-CORE-dev/src/main/resources/xsd/XSD_V2012/TR_V2012/MAJ_TR-IE_V2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="T_Date">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Devise">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="T_Mnt_Devise">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="17"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="T_Montant">
        <xs:simpleContent>
            <xs:extension base="T_Mnt_Devise">
                <xs:attribute name="Ccy" type="Devise" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EnteteDoc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CodeIAT" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code IAT</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DateDec" type="T_Date" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Date de déclaration</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CodeAnnexe" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code Annexe</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{2}-[0-9]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Transferts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Transfert" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Entete">
                                            <xs:complexType>
                                                <xs:sequence>
												  <xs:element name="PeriodDec" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Mois de la déclaration de ce reporting</xs:documentation>
													</xs:annotation>   
												    <xs:simpleType>
												  	<xs:restriction base="xs:string">
												  		<xs:pattern value="(0[1-9]|1[0-2])[0-9]{4}"/>
												  	</xs:restriction>	
												    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="NbrEcritures" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr"> Nombre de ligne de l'enregistrement détail</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
													  <xs:restriction base="xs:string">
														<xs:pattern value="\d{6}"/>
													  </xs:restriction>
													</xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Details">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Detail" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															 <xs:element name="PeriodDec" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Mois de la déclaration de ce reporting</xs:documentation>
																</xs:annotation>
															 	<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="(0[1-9]|1[0-2])[0-9]{4}"/>
																</xs:restriction>
															 	</xs:simpleType>
															  </xs:element>		 
															  <xs:element name="Agence" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Agence ayant réalisé le transfert</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																  <xs:restriction base="xs:string">
																	<xs:pattern value="\d{3}"/>
																  </xs:restriction>
																</xs:simpleType>
															  </xs:element>
															  <xs:element name="RefInvestisseur" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																	  <xs:element name="MatricFiscalInvt" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Matricule Fiscale de l'investisseur</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																			  <xs:maxLength value="15"/>
																				 
																			  </xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="RaisSocialInvt" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Raison sociale de l'investisseur</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				<xs:maxLength value="80"/>
																			  </xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>																	  	  
																	</xs:sequence>
																</xs:complexType>
															  </xs:element>										
															  <xs:element name="CodActInvt" minOccurs="1">
															    <xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Code activité de l'investisseur</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="5"/>
																	</xs:restriction>
																</xs:simpleType>
															  </xs:element>
															  <xs:element name="SocExport" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Société Exportatrice</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																	    <xs:pattern value="[1-2]"/>
																		<xs:enumeration value="1">
																			<xs:annotation>
																				<xs:documentation>1 = OUI </xs:documentation>
																			</xs:annotation>
																		</xs:enumeration>
																		<xs:enumeration value="2">
																			<xs:annotation>
																				<xs:documentation>2 = NON</xs:documentation>
																			</xs:annotation>
																		</xs:enumeration>																  
																	</xs:restriction>
																</xs:simpleType>
																</xs:element>
																<xs:element name="ChiffAffaire" minOccurs="1">
																    <xs:annotation>
																		<xs:documentation source="Name" xml:lang="Fr">Chiffre d'affaires de l'exercice précédent</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:integer">																		
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>	
																<xs:element name="PosInvt" minOccurs="1">
																	<xs:annotation>
																		<xs:documentation source="Name" xml:lang="Fr">Position de l'INVT au moment de l'INVT</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:integer">
																		    <xs:pattern value="[1-2]"/>
																			<xs:enumeration value="1">
																				<xs:annotation>
																					<xs:documentation>1 = Nouveau </xs:documentation>
																				</xs:annotation>
																			</xs:enumeration>
																			<xs:enumeration value="2">
																				<xs:annotation>
																					<xs:documentation>2 = Ancien</xs:documentation>
																			    </xs:annotation>
																			</xs:enumeration>																  
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>	
																<xs:element name="FormInvt" minOccurs="1">
																	<xs:annotation>
																		<xs:documentation source="Name" xml:lang="Fr">Forme de l'investissement</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:integer">
																		    <xs:pattern value="[1-4]"/>
																			<xs:enumeration value="1">
																				<xs:annotation>
																					<xs:documentation>1 = Bureau de représentation ou de liaison </xs:documentation>
																				</xs:annotation>
																			</xs:enumeration>
																			<xs:enumeration value="2">
																				<xs:annotation>
																					<xs:documentation>2 = Succursale</xs:documentation>
																				</xs:annotation>
																			</xs:enumeration>
																			<xs:enumeration value="3">
																				<xs:annotation>
																					<xs:documentation>3 = Finale</xs:documentation>
																				</xs:annotation>
																			</xs:enumeration>
																			<xs:enumeration value="4">
																				<xs:annotation>
																					<xs:documentation>4 = Prise de participation </xs:documentation>
																				</xs:annotation>
																			</xs:enumeration>																					
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="TxPart" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation source="Name" xml:lang="Fr">Taux de participation</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:union>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:totalDigits value="5"/>
																					<xs:fractionDigits value="2"/>
																					<xs:maxInclusive value="100"/>
																				</xs:restriction>																																								
																			</xs:simpleType>
																			<xs:simpleType>
																			  <xs:restriction base="xs:string">
																				  <xs:length value="0"/> 
																			  </xs:restriction> 
																		    </xs:simpleType>
																		</xs:union>																  
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OperationTransf">
																  <xs:complexType>
																	<xs:sequence>																  								
																		<xs:element name="MntTransDev" type = 'T_Montant' minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Montant de l'opération en devises</xs:documentation>
																		  </xs:annotation>																
																	     </xs:element>
																	     <xs:element name="CvMntTnd" type = 'T_Montant' minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Contre valeur en dinars du Montant du transfert </xs:documentation>
																			</xs:annotation>									
																		  </xs:element>
																		  <xs:element name="MoyenReg" minOccurs="1">
																			  <xs:annotation>
																				  <xs:documentation source="Name" xml:lang="Fr">Moyens de règlement</xs:documentation>
																			  </xs:annotation>																		  
																				<xs:simpleType> 
																					<xs:restriction base="xs:string"> 																					  
																						<xs:enumeration value="10">
																							<xs:annotation>
																								<xs:documentation>10 = Transfert par achat de devises </xs:documentation>
																							</xs:annotation>
																						</xs:enumeration>
																						<xs:enumeration value="20">
																							<xs:annotation>
																								<xs:documentation>20 = Transfert par débit du compte professionnel en devises </xs:documentation>
																							</xs:annotation>
																						</xs:enumeration>
																					</xs:restriction>
																				</xs:simpleType> 																		 															
																		   </xs:element>
																		   <xs:element name="RaisSocialInvtss" minOccurs="1">
																			  <xs:annotation>
																				  <xs:documentation source="Name" xml:lang="Fr">Raison sociale de l'Investissement</xs:documentation>
																			  </xs:annotation>																		  
																					<xs:simpleType> 
																						<xs:restriction base="xs:string"> 																					  
																							 <xs:maxLength value="80"/>																				  
																						</xs:restriction>
																					</xs:simpleType> 																		 															
																		   </xs:element>
																		   <xs:element name="CodSectActInvt" minOccurs="1">
																			  <xs:annotation>
																				  <xs:documentation source="Name" xml:lang="Fr">Code Secteur activité de l'investissement </xs:documentation>
																			  </xs:annotation>																		  
																					<xs:simpleType> 
																						<xs:restriction base="xs:string"> 																					  
																							 <xs:length value="1"/>																				  
																						</xs:restriction>
																					</xs:simpleType> 																		 															
																		   </xs:element>
																		   <xs:element name="CodClassActInvt" minOccurs="0">
																			  <xs:annotation>
																				  <xs:documentation source="Name" xml:lang="Fr">Code Classe activité de l'investisseur</xs:documentation>
																			  </xs:annotation>
																		   	<xs:simpleType>
																		   		<xs:union>
																		   			<xs:simpleType> 
																		   				<xs:restriction base="xs:decimal">
																		   					<xs:totalDigits value="4"/>
																		   					<xs:fractionDigits value="2"/>
																		   				</xs:restriction>
																		   			</xs:simpleType> 
																		   			<xs:simpleType>
																		   				<xs:restriction base="xs:string">
																		   					<xs:length value="0"/> 
																		   				</xs:restriction> 
																		   			</xs:simpleType> 
																		   		</xs:union>
																		   	</xs:simpleType>
																		   </xs:element>
																		   <xs:element name="CodPaysDest" minOccurs="1">
																			  <xs:annotation>
																				  <xs:documentation source="Name" xml:lang="Fr">Code pays d'implantation</xs:documentation>
																			  </xs:annotation>																		  
																					<xs:simpleType> 
																						<xs:restriction base="xs:string"> 																					  
																							 <xs:pattern value="\d{3}"/>																				  
																						</xs:restriction>
																					</xs:simpleType> 																		 															
																		   </xs:element>																	   															   
																	</xs:sequence>														
																  </xs:complexType>
																</xs:element>															
																<xs:element name="RefFichInfo">
																	<xs:complexType>
																		<xs:sequence>																  
																			<xs:element name="NumFichInfo" minOccurs="1">
																				<xs:annotation>
																					<xs:documentation source="Name" xml:lang="Fr">Numéro de la fiche d'information  afférente au transfert </xs:documentation>
																				</xs:annotation>
																						<xs:simpleType> 
																							<xs:restriction base="xs:string"> 																					  
																								<xs:maxLength value="10"/>																				  
																							</xs:restriction>
																						</xs:simpleType> 																				 																																							
																			</xs:element>
																			<xs:element name="DatFichInfo" minOccurs="1">
																				<xs:annotation>
																					<xs:documentation source="Name" xml:lang="Fr">Date de la fiche d'information  afférente au transfert </xs:documentation>
																				</xs:annotation>
																					<xs:simpleType> 
																						<xs:restriction base="T_Date" > 																					  
																						</xs:restriction>
																					</xs:simpleType> 																																								
																			</xs:element>                                                                                                  
																		</xs:sequence>														
																	</xs:complexType>
																</xs:element>	
															    <xs:element name="CodSwift" minOccurs="1">
																	<xs:annotation>
																		<xs:documentation source="Name" xml:lang="Fr">Code swift du transfert</xs:documentation>
																	</xs:annotation>																		  
																		<xs:simpleType> 
																			<xs:restriction base="xs:string"> 																					  
																				<xs:maxLength value="11"/>																				  
																			</xs:restriction>
																		</xs:simpleType> 																		 															
																</xs:element>																
														</xs:sequence>
													</xs:complexType>
												</xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
