DEC-CORE-dev/src/main/resources/xsd/XSD_V2012/TR_V2012/TR-ALL_V2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="T_Date">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Devise">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="T_Mnt_Devise">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="17"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="T_Montant">
        <xs:simpleContent>
            <xs:extension base="T_Mnt_Devise">
                <xs:attribute name="Ccy" type="Devise" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EnteteDoc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CodeIAT" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code IAT</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DateDec" type="T_Date" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Date de déclaration</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CodeAnnexe" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code Annexe</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{2}-[0-9]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Transferts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Transfert" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Entete">
                                            <xs:complexType>
                                                <xs:sequence>
												  <xs:element name="PeriodDec" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Mois de déclaration de transfert </xs:documentation>
													</xs:annotation>   
												    <xs:simpleType>
												  	<xs:restriction base="xs:string">
												  		<xs:pattern value="(0[1-9]|1[0-2])[0-9]{4}"/>
												  	</xs:restriction>	
												    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="NbrEcritures" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr"> Nombre de ligne de l'enregistrement détail</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
													  <xs:restriction base="xs:string">
														<xs:pattern value="\d{6}"/>
													  </xs:restriction>
													</xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Details">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Detail" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>													   
															 <xs:element name="PeriodDec" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Mois de déclaration de transfert</xs:documentation>
																</xs:annotation>
															 	<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="(0[1-9]|1[0-2])[0-9]{4}"/>
																</xs:restriction>
															 	</xs:simpleType>
															  </xs:element>		 
															  <xs:element name="Agence" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Agence a effectué le transfert</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																  <xs:restriction base="xs:string">
																	<xs:pattern value="\d{3}"/>
																  </xs:restriction>
																</xs:simpleType>
															  </xs:element>
															  <xs:element name="Benificiaire">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="CategBenif" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Indiquer si il s'agit d'un adulte ou d'un enfant </xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																			  <xs:restriction base="xs:integer">	
																				 <xs:pattern value="[1-2]"/>
																			      <xs:enumeration value="1">
																					  <xs:annotation>
																						<xs:documentation>1 = Adulte </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="2">
																					  <xs:annotation>
																						<xs:documentation>2 = Enfant </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																			  </xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Age" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Age du béneficiaire de l'allocation</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																			  <xs:restriction base="xs:string">
																				<xs:pattern value="[0-9]{1,3}"/>
																			  </xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="TypeIdentifiant" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr"> Type identifiant du bénéficiaire de l'allocation</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				  <xs:enumeration value="C">
																					  <xs:annotation>
																						<xs:documentation>C = CIN </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="S">
																					  <xs:annotation>
																						<xs:documentation>S = Carte de séjour</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="P">
																					  <xs:annotation>
																						<xs:documentation>P = Passeport</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																			  </xs:restriction>
																		  </xs:simpleType>
																		</xs:element>
																	    <xs:element name="CodIdentifiant" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Identifiant du bénéficiaire</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string" >
																						<xs:maxLength value="20"/>
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 	
																		
																		<xs:element name="Nom" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Nom du bénéficiaire</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string" >
																						<xs:maxLength value="30"/>
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 
																		<xs:element name="Prenom" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Prénom du bénéficiaire</xs:documentation>
																			</xs:annotation>
																			  <xs:simpleType>
																				<xs:restriction base="xs:string" >
																					<xs:maxLength value="30"/>
																				</xs:restriction>
																			  </xs:simpleType>
																		</xs:element> 
																		<xs:element name="Nationalite" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Nationalité du bénéficiaire</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string" >
																					  <xs:pattern value="\d{3}"/>
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 
																	</xs:sequence>														
																</xs:complexType>
															   </xs:element>
															  <xs:element name="OperationTransf" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																	  <xs:element name="EcoSalaire" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Indiquer si le voyageur bénéficie d'une economie sur salaire </xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:union>
																			  <xs:simpleType>
																				  <xs:restriction base="xs:integer">
																					 <xs:pattern value="[1-2]"/>
																				  <xs:enumeration value="1">
																					<xs:annotation>
																						<xs:documentation>1 = OUI </xs:documentation>
																					</xs:annotation>
																				   </xs:enumeration>
																				   <xs:enumeration value="2">
																						<xs:annotation>
																							<xs:documentation>2 = NON </xs:documentation>
																						</xs:annotation>
																				   </xs:enumeration>
																				  </xs:restriction>
																			  </xs:simpleType>
																			  <xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="0"/> 
																				</xs:restriction> 
																			  </xs:simpleType> 
																			</xs:union>
																		  </xs:simpleType>
																	   </xs:element>	
																	  <xs:element name="CodPaysDest" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Pays de Destination</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:restriction base="xs:string">
																			   <xs:pattern value="\d{3}"/>
																			</xs:restriction>
																		   </xs:simpleType>																		
																	  </xs:element>
																	  <xs:element name="ModDeliv" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Mode de délivrance de l'allocation</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:integer">
																			       <xs:pattern value="[1-3]"/>
																				  <xs:enumeration value="1">
																					  <xs:annotation>
																						<xs:documentation>1 = Espèce </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="2">
																					  <xs:annotation>
																						<xs:documentation>2 = Chèque</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="3">
																					  <xs:annotation>
																						<xs:documentation>3 = Carte de Paiement Internationale </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																			  </xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="MntAllocTourDev" type="T_Montant" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Montant de l'allocation touristique en devises</xs:documentation>
																		  </xs:annotation>																	
																	  </xs:element>
																	   <xs:element name="MntAlloc"  type= "T_Montant" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Montant de l'allocation en dinars</xs:documentation>
																		  </xs:annotation>
																																	
																	  </xs:element>
																	  <xs:element name="DatDelivAllocTour" type="T_Date" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Date de délivrance de l'allocaton tourisqtique</xs:documentation>
																		  </xs:annotation>					 																	
																	  </xs:element>
																	  <xs:element name="NumAutBctSD" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Numero d'autorisation de sortie des devises </xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="xs:string"> 																					  
																						  <xs:maxLength value="20"/>																				  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		   </xs:simpleType>																
																	  </xs:element>
																	  <xs:element name="DatAutBctSD"  minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Date de l'autorisation de sortie des devises </xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="T_Date" > 																					  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		  </xs:simpleType>																	
																	  </xs:element>																   																													 																  					   
																	</xs:sequence>
																</xs:complexType>
															</xs:element>	
															<xs:element name="RefAutorisationBct">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="NumAutBCT" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Numéro de l’autorisation de la BCT</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:union>
																				<xs:simpleType>
																					 <xs:restriction base="xs:string">
																						  <xs:maxLength value="16"/>
																					  </xs:restriction>										
																				</xs:simpleType>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="0"/> 
																					</xs:restriction> 
																				</xs:simpleType> 
																				</xs:union>
																			</xs:simpleType> 
																		</xs:element>
																	    <xs:element name="DatAutBCT" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date de l’autorisation de la BCT</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																			<xs:union>
																				<xs:simpleType>
																					<xs:restriction base="T_Date" > 																					  
																					</xs:restriction>
																				</xs:simpleType>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="0"/> 
																					</xs:restriction> 
																				</xs:simpleType> 
																			</xs:union> 
																			</xs:simpleType>
																		</xs:element> 																																	
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>	
															
														</xs:sequence>
													</xs:complexType>
												</xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
