DEC-CORE-dev/src/main/resources/xsd/XSD_V2012/TR_V2012/TR-DIV_V2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="T_Date">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Devise">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="T_Mnt_Devise">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="17"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="T_Montant">
        <xs:simpleContent>
            <xs:extension base="T_Mnt_Devise">
                <xs:attribute name="Ccy" type="Devise" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EnteteDoc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CodeIAT" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code IAT</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DateDec" type="T_Date" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Date de déclaration</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CodeAnnexe" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code Annexe</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{2}-[0-9]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Transferts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Transfert" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Entete">
                                            <xs:complexType>
                                                <xs:sequence>
												  <xs:element name="AnneDec" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Année de déclaration de ce reporting</xs:documentation>
													</xs:annotation>   
												    <xs:simpleType>
												  	<xs:restriction base="xs:string">
												  		<xs:pattern value="[0-9]{4}"/>
												  	</xs:restriction>	
												    </xs:simpleType>
                                                  </xs:element>
												  <xs:element name="PeriodDec" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Trimestre au cours duquel le transfert s'est effectué</xs:documentation>
													</xs:annotation>   
												    <xs:simpleType>
												  	<xs:restriction base="xs:string">
												  		<xs:pattern value="[1-4]{1}"/>
												  	</xs:restriction>	
												    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="NbrEcritures" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr"> Nombre de ligne de l'enregistrement détail</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
													  <xs:restriction base="xs:string">
														<xs:pattern value="\d{6}"/>
													  </xs:restriction>
													</xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Details">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Detail" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															 <xs:element name="AnneDec" minOccurs="1">
															 <xs:annotation>
																<xs:documentation source="Name" xml:lang="Fr">Année de déclaration de ce reporting</xs:documentation>
															 </xs:annotation>   
																<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="[0-9]{4}"/>
																</xs:restriction>	
																</xs:simpleType>
															  </xs:element>
															  <xs:element name="PeriodDec" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Trimestre au cours duquel le transfert s'est effectué</xs:documentation>
																</xs:annotation>   
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="[1-4]{1}"/>
																	</xs:restriction>	
																</xs:simpleType>
															  </xs:element>		 
															  <xs:element name="Agence" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Agence a effectué le transfert</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																  <xs:restriction base="xs:string">
																	<xs:pattern value="\d{3}"/>
																  </xs:restriction>
																</xs:simpleType>
															  </xs:element>										  
															  <xs:element name="RefSociete">
																<xs:complexType>
																	<xs:sequence>																																			
																		<xs:element name="MatFiscalSoc" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Matricule fiscal de la société</xs:documentation>
																		    </xs:annotation>
																		    <xs:simpleType>																			
																			  <xs:restriction base="xs:string">
																				<xs:length value="8"/> 
																			   </xs:restriction>					   
																		     </xs:simpleType>																		 
																		</xs:element>
																	    <xs:element name="RaisSocialSoc" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Raison sociale de la société </xs:documentation>
																			</xs:annotation>
																			    <xs:simpleType>
																					<xs:restriction base="xs:string" >
																						<xs:maxLength value="80"/>
																					</xs:restriction>
																				</xs:simpleType>																				
																		</xs:element> 
																		<xs:element name="StatupPlanChange" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Statut sur le plan change</xs:documentation>
																			</xs:annotation>
																			  <xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="R">
																							  <xs:annotation>
																								<xs:documentation>R =  si société résidente </xs:documentation>
																							  </xs:annotation>
																					</xs:enumeration>
																					<xs:enumeration value="NR">
																							  <xs:annotation>
																								<xs:documentation>NR =  si société non résidente </xs:documentation>
																							  </xs:annotation>
																					 </xs:enumeration>																				
																				</xs:restriction>
																			  </xs:simpleType>
																		</xs:element> 	
																	</xs:sequence>														
																</xs:complexType>
															   </xs:element>
															   	  <xs:element name="OperationTransf">
																<xs:complexType>
																	<xs:sequence>																																			
																		<xs:element name="LibOp" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Libellé Opération</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																			  <xs:restriction base="xs:string">
																				<xs:pattern value="[1-2]{1}"/>
																			  </xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																	    <xs:element name="AnneExercice" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Année de l'exercice</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string" >
																						<xs:pattern value="[0-9]{4}"/>
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 
																		<xs:element name="DatTrans" type="T_Date" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date de transfert </xs:documentation>
																			</xs:annotation>											
																		</xs:element> 
																		
																		<xs:element name="MntTransDev"  type ="T_Montant" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Montant de transfert en devises</xs:documentation>
																			</xs:annotation>				
																		</xs:element> 
																		<xs:element name="CvMntTnd" type ="T_Montant" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">C/V du montant en dinars</xs:documentation>
																			</xs:annotation>																			 
																		</xs:element> 	
																		<xs:element name="ModReg" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Modalités de règlement</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																			  <xs:restriction base="xs:string">
																				  <xs:enumeration value="T">
																					  <xs:annotation>
																						<xs:documentation>T = Total </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="P">
																					  <xs:annotation>
																						<xs:documentation>P = Partiel</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>																  
																			  </xs:restriction>
																		   </xs:simpleType>
																		</xs:element> 	
																		<xs:element name="MoyenReg" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Moyens de règlement</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType> 
																					<xs:restriction base="xs:string" > 	
																						<xs:enumeration value="10">
																							<xs:annotation>
																								<xs:documentation>10 = Transfert par achat de devises </xs:documentation>
																							</xs:annotation>
																						</xs:enumeration>
																						<xs:enumeration value="20">
																							<xs:annotation>
																								<xs:documentation>20 = Transfert par débit du compte professionnel en devises </xs:documentation>
																							</xs:annotation>
																						</xs:enumeration>
																						<xs:enumeration value="40">
																							<xs:annotation>
																								<xs:documentation>40 = le règlement par débit du compte étranger en devises ou en dinars convertibles </xs:documentation>
																							</xs:annotation>
																						</xs:enumeration>
																					</xs:restriction>
																				</xs:simpleType> 	
																		</xs:element> 	
																	</xs:sequence>														
																</xs:complexType>
															   </xs:element>
															  <xs:element name="Benificiaire" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																	  <xs:element name="NatBenif" minOccurs="1">
																		   <xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr"> Nature du bénéficiaire</xs:documentation>
																		  </xs:annotation>																		 																		  
																			<xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:pattern value="[1-2]"/>
																					<xs:enumeration value="1">                                                                 																				  <xs:annotation>
																						<xs:documentation>1= Personne morale</xs:documentation>
																					</xs:annotation>
																					</xs:enumeration>
																					<xs:enumeration value="2">                                                                 																				  <xs:annotation>
																						<xs:documentation>2= personne physique</xs:documentation>
																					</xs:annotation>
																					</xs:enumeration>
																									  	
																				</xs:restriction>	
																		   </xs:simpleType>																	  
																	 </xs:element>
																	  <xs:element name="Nom" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Nom du bénéficiaire</xs:documentation>
																		  </xs:annotation>
																		   <xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="30"/>
																			</xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	   <xs:element name="Prenom"  minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Prénom du bénéficiaire</xs:documentation>
																		  </xs:annotation>
																		   <xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="30"/>
																			</xs:restriction>
																		  </xs:simpleType>
																																	
																	  </xs:element>
																	  <xs:element name="Nationalite"  minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Nationalité</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="xs:string" > 
																					    <xs:pattern value="\d{3}"/>
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="RaisSocial" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Raison sociale du beneficiaire </xs:documentation>
																		  </xs:annotation>
																		   <xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="80"/>
																			</xs:restriction>
																		  </xs:simpleType>																																																					
																	  </xs:element>
																	  <xs:element name="IdenSysBenif" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Identifiant système du bénéficiaire au niveau de la "Plateforme des Investissements en Devises par des Non-résidents en Tunisie</xs:documentation>
																		</xs:annotation> 																			
																		<xs:simpleType>
																			<xs:union>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:pattern value="BCT-[0-9]{4}.{5,}"/>
																						<xs:length value="13"/>
																					</xs:restriction>
																				</xs:simpleType>	
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="0"/> 
																					</xs:restriction> 
																				</xs:simpleType> 
																			</xs:union>
																		</xs:simpleType>
																	  </xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															
															<xs:element name="NatOp" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Nature de l’opération selon balance des paiements</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:pattern value="\d{4}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="RefFichInfo">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="NumFichInfo" minOccurs="0">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Numéro Fiche d'information </xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:union> 
																	  <xs:simpleType> 
																		  <xs:restriction base="xs:string"> 																  
																			  <xs:maxLength value="10"/>
																				 </xs:restriction>
																	  </xs:simpleType> 
																	  <xs:simpleType>
																		  <xs:restriction base="xs:string">
																			  <xs:length value="0"/> 
																		  </xs:restriction> 
																	  </xs:simpleType> 
																	</xs:union> 
																</xs:simpleType>
															</xs:element>
															<xs:element name="DatFichInfo" minOccurs="0">
															  <xs:annotation>
																  <xs:documentation source="Name" xml:lang="Fr">Date de la fiche d'information</xs:documentation>
															  </xs:annotation>
															  <xs:simpleType>
																  <xs:union> 
																	  <xs:simpleType> 
																		  <xs:restriction base="T_Date"> 																  																		
																		  </xs:restriction>
																	  </xs:simpleType> 
																	  <xs:simpleType>
																		  <xs:restriction base="xs:string">
																			  <xs:length value="0"/> 
																		  </xs:restriction> 
																	  </xs:simpleType> 
																  </xs:union> 
															  </xs:simpleType>
															</xs:element>															
														</xs:sequence>
													</xs:complexType>
                                                  </xs:element>
												  <xs:element name="CodSwift" minOccurs="1">
													  <xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Code SWIFT</xs:documentation>
													  </xs:annotation>
													  <xs:simpleType>
														  <xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														  </xs:restriction>
													  </xs:simpleType>
                                                  </xs:element>
												  <xs:element name="CodPaysDest" minOccurs="1">
													  <xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr"> Pays de destination du transfert</xs:documentation>
													  </xs:annotation>
													  <xs:simpleType>
														  <xs:restriction base="xs:string">
															<xs:pattern value="\d{3}"/>
														  </xs:restriction>
													  </xs:simpleType>
                                                  </xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
