DEC-CORE-dev/src/main/resources/xsd/XSD_V2012/TR_V2012/TR-FP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="T_Date">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="Devise">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeviseF">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{3,3}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0"/> 
				</xs:restriction> 
			</xs:simpleType>		
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="T_Mnt_Devise">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Mnt_DeviseF">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="17"/>
					<xs:fractionDigits value="3"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="0"/> 
				</xs:restriction> 
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:complexType name="T_Montant">
		<xs:simpleContent>
			<xs:extension base="T_Mnt_Devise">
				<xs:attribute name="Ccy" type="Devise" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MontantF">
		<xs:simpleContent>
			<xs:extension base="T_Mnt_DeviseF">
				<xs:attribute name="Ccy" type="DeviseF" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EnteteDoc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CodeIAT" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code IAT</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DateDec" type="T_Date" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Date de déclaration</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CodeAnnexe" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code Annexe</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{2}-[0-9]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Transferts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Transfert" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Entete">
                                            <xs:complexType>
                                                <xs:sequence>
												 <xs:element name="AnneDec" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Année de déclaration</xs:documentation>
													</xs:annotation>   
												    <xs:simpleType>
												  	<xs:restriction base="xs:string">
												  		<xs:pattern value="[0-9]{4}"/>
												  	</xs:restriction>	
												    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="PeriodDec" minOccurs="1">
                                                		<xs:annotation>
                                                			<xs:documentation source="Name" xml:lang="Fr">Trimestre de la déclaration de ce reporting</xs:documentation>
                                                		</xs:annotation>   
                                                		<xs:simpleType>
                                                			<xs:restriction base="xs:integer">
															     <xs:pattern value="[1-4]"/>
                                                				<xs:enumeration value="1">                                                                 																				  <xs:annotation>
                                                					<xs:documentation>1= Premier trimestre de l'année</xs:documentation>
                                                				</xs:annotation>
                                                				</xs:enumeration>
                                                				<xs:enumeration value="2">                                                                 																				  <xs:annotation>
                                                					<xs:documentation>2= 2ème trimestre de l'année</xs:documentation>
                                                				</xs:annotation>
                                                				</xs:enumeration>
                                                				<xs:enumeration value="3">                                                                 																				  <xs:annotation>
                                                					<xs:documentation>3= Troisième trimestre de l'année</xs:documentation>
                                                				</xs:annotation>
                                                				</xs:enumeration>
                                                				<xs:enumeration value="4">                                                                 																				  <xs:annotation>
                                                					<xs:documentation>4= Quatrième trimestre de l'année</xs:documentation>
                                                				</xs:annotation>
                                                				</xs:enumeration>						  	
                                                			</xs:restriction>	
                                                		</xs:simpleType>
                                                	</xs:element>
                                                  <xs:element name="NbrEcritures" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr"> Nombre de ligne de l'enregistrement détail</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
													  <xs:restriction base="xs:string">
														<xs:pattern value="\d{6}"/>
													  </xs:restriction>
													</xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Details">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Detail" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
														    <xs:element name="AnneDec" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Année de déclaration </xs:documentation>
																</xs:annotation>   
																<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="[0-9]{4}"/>
																</xs:restriction>	
																</xs:simpleType>
                                                            </xs:element>
															<xs:element name="PeriodDec" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Trimestre de la déclaration de ce reporting</xs:documentation>
																</xs:annotation>   
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		 <xs:pattern value="[1-4]"/>
																		<xs:enumeration value="1">                                                                 																				  <xs:annotation>
																			<xs:documentation>1= Premier trimestre de l'année</xs:documentation>
																		</xs:annotation>
																		</xs:enumeration>
																		<xs:enumeration value="2">                                                                 																				  <xs:annotation>
																			<xs:documentation>2= 2ème trimestre de l'année</xs:documentation>
																		</xs:annotation>
																		</xs:enumeration>
																		<xs:enumeration value="3">                                                                 																				  <xs:annotation>
																			<xs:documentation>3= Troisième trimestre de l'année</xs:documentation>
																		</xs:annotation>
																		</xs:enumeration>
																		<xs:enumeration value="4">                                                                 																				  <xs:annotation>
																			<xs:documentation>4= Quatrième trimestre de l'année</xs:documentation>
																		</xs:annotation>
																		</xs:enumeration>						  	
																	</xs:restriction>	
																</xs:simpleType>
															</xs:element>	 
															  <xs:element name="Agence" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Agence ayant réalisé le transfert</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																  <xs:restriction base="xs:string">
																	<xs:pattern value="\d{3}"/>
																  </xs:restriction>
																</xs:simpleType>
															  </xs:element>
															  <xs:element name="Benificiaire">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="TypeIdentifiant" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr"> Type de l'identifiant du bénéficiaire</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				  <xs:enumeration value="C">
																					  <xs:annotation>
																						<xs:documentation>C = CIN </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="S">
																					  <xs:annotation>
																						<xs:documentation>S = Carte de séjour</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="P">
																					  <xs:annotation>
																						<xs:documentation>P = Passeport</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																			  </xs:restriction>
																		  </xs:simpleType>
																		</xs:element>
																	    <xs:element name="CodIdentifiant" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Identifiant du bénéficiaire</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string" >
																						<xs:maxLength value="15"/>
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 	
																		<xs:element name="Nom" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Nom du bénéficiaire</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string" >
																						<xs:maxLength value="30"/>
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 
																		<xs:element name="Prenom" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Prénom du bénéficiaire</xs:documentation>
																			</xs:annotation>
																			  <xs:simpleType>
																				<xs:restriction base="xs:string" >
																					<xs:maxLength value="30"/>
																				</xs:restriction>
																			  </xs:simpleType>
																		</xs:element> 
																		<xs:element name="Nationalite" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Nationalité </xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string" >
																						<xs:pattern value="\d{3}"/>
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 
																	</xs:sequence>														
																</xs:complexType>
															   </xs:element>
															  <xs:element name="OperationTransf" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																	  <xs:element name="NiveauForm" minOccurs="0">
																		  <xs:annotation>
																		  <xs:documentation source="Name" xml:lang="Fr">Niveau de formation</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:union>
																			  <xs:simpleType>
																				  <xs:restriction base="xs:string">
																						<xs:length value="10"/>
																				  </xs:restriction>
																			  </xs:simpleType>
																			  <xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="0"/> 
																					</xs:restriction> 
																			   </xs:simpleType>
																		  </xs:union>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="AnnScol" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Année scolaire</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				<xs:pattern value="\d{4}/\d{4}"/>
																			  </xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="TypAlloc" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Type d'allocation (libellé opération)</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:restriction base="xs:integer">
																			    <xs:pattern value="[1-3]"/>
																				<xs:enumeration value="1">                                                                 																				  <xs:annotation>
																					<xs:documentation>1= Frais d'inscription </xs:documentation>
																				</xs:annotation>
																				</xs:enumeration>
																				<xs:enumeration value="2">
																					<xs:annotation>
																						<xs:documentation>2= Frais d'installation</xs:documentation>
																					</xs:annotation>																				  
																				</xs:enumeration>
																				<xs:enumeration value="3">
																					<xs:annotation>
																						<xs:documentation>3= Frais de séjour </xs:documentation>
																					</xs:annotation>																				  
																				</xs:enumeration>
																			</xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="NumDomDosForm" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Numéro de  domiciliation du dossier de formation</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:length value ="14"/>
																			  </xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>	
																		<xs:element name="DatDomDosForm" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Date de domiciliation du dossier de formation</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:restriction base="T_Date" > 																					  
																			</xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="BoursForm" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Bourse de formation</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:union>
																			  <xs:simpleType>
																				<xs:restriction base="xs:integer">
																				    <xs:pattern value="[1-2]"/>
																					<xs:enumeration value="1">
																						<xs:annotation>
																							<xs:documentation>1 = OUI </xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>
																					<xs:enumeration value="2">
																						<xs:annotation>
																							<xs:documentation>2 = NON</xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>																  
																				</xs:restriction>
																			   </xs:simpleType>
																			   <xs:simpleType>
																				  <xs:restriction base="xs:string">
																					  <xs:length value="0"/> 
																				  </xs:restriction> 
																				</xs:simpleType>
																			</xs:union>
																			</xs:simpleType>
																	  </xs:element>
																	  <xs:element name="MntBoursDev" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Montant de la bourse en devises</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:union>
																				<xs:simpleType>
																					<xs:restriction base="xs:decimal">
																						<xs:totalDigits value="17"/>
																						<xs:fractionDigits value="3"/>
																					</xs:restriction>
																				</xs:simpleType>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="0"/> 
																					</xs:restriction> 
																				</xs:simpleType>
																			</xs:union>
																	  		</xs:simpleType>
																	  </xs:element>
																	  <xs:element name="DevMntBours" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr"> Devises Mnt bourse</xs:documentation>
																			</xs:annotation>
																		 	<xs:simpleType>
																			<xs:union>
																				<xs:simpleType>
																						 <xs:restriction base="xs:string">
																							<xs:pattern value="[0-9]{3}"/>
																						</xs:restriction>
																				</xs:simpleType>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="0"/> 
																					</xs:restriction> 
																				</xs:simpleType>
																			</xs:union>
																		 		</xs:simpleType>																
																	 </xs:element>
																	  
																	  
																	  <xs:element name="MntAllocDev" type = 'T_Montant' minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Montant de l'allocation en devises</xs:documentation>
																		  </xs:annotation>
																	  </xs:element>
																	   <xs:element name="MntTrans" type = 'T_Montant' minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Montant du transfert</xs:documentation>
																		  </xs:annotation>
																	  </xs:element>
																	   <xs:element name="CvTndMntGlob" type = 'T_Montant' minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">C/V en TND du montant global</xs:documentation>
																		  </xs:annotation>
													 
																	  </xs:element>
																	   <xs:element name="DatTrans" type = 'T_Date' minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Date du transfert</xs:documentation>
																		  </xs:annotation>
																	  </xs:element>
																	  <xs:element name="ModTrasn" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Modes de transfert</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:integer">
																			      <xs:pattern value="[1-3]"/>
																				  <xs:enumeration value="1">
																					  <xs:annotation>
																						<xs:documentation>1 = Espèce </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="2">
																					  <xs:annotation>
																						<xs:documentation>2 = Chèque</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="3">
																					  <xs:annotation>
																						<xs:documentation>3 = Virement </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																			  </xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="RefFichInfo">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="NumFichInfo" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Numéro de la fiche d’informations afférente au transfert</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string"> 																					  
																						<xs:maxLength value="10"/>
																					</xs:restriction>											
																				</xs:simpleType>
																		</xs:element>
																	    <xs:element name="DatFichInfo" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date de la fiche d’informations afférente au transfert</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="T_Date" > 																					  
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 																																	
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>
															<xs:element name="RefAutSortDev">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="NumAutBctSD" minOccurs="0">
																		  <xs:annotation>
																			  <xs:documentation source="Name" xml:lang="Fr">Numéro de l’autorisation de sortie des devises</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="xs:string"> 																					  
																						  <xs:maxLength value="10"/>																				  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		   </xs:simpleType>
																       </xs:element>
																	   <xs:element name="DatAutBctSD" minOccurs="0">
																		  <xs:annotation>
																			  <xs:documentation source="Name" xml:lang="Fr">Date de l’autorisation de sortie des devises</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="T_Date" > 																					  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		  </xs:simpleType>
																	   </xs:element> 																		    
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>																																																	
													        <xs:element name="RefFormation">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="DureForm" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Durée de la formation</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string"> 																					  
																						<xs:pattern value="[0-9]{2}"/>
																					</xs:restriction>											
																				</xs:simpleType>
																		</xs:element>
																	    <xs:element name="DatDebBenifForm" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date début du bénéfice de la formation</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="T_Date" > 																					  
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 
																	    <xs:element name="DatFinBenifForm" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date fin du bénéfice de la formation</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="T_Date" > 																					  
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 
																		<xs:element name="CodPaysForm" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Code pays formation</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string"> 																					  
																						<xs:pattern value="\d{3}"/>
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 
																		<xs:element name="NatOp" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Nature de l’opération selon balance des paiements</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="xs:string"> 																					  
																						<xs:length value="4"/>
																					</xs:restriction>
																				</xs:simpleType>
																		</xs:element> 
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>
															<xs:element name="RefAutorisationBct">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="NumAutBCT" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Numéro de l’autorisation de la BCT</xs:documentation>
																			</xs:annotation>
																				<xs:simpleType>
																					 <xs:restriction base="xs:string">
																						  <xs:maxLength value="16"/>
																					  </xs:restriction>										
																				</xs:simpleType>
																		</xs:element>
																	    <xs:element name="DatAutBCT" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Date de l’autorisation de la BCT</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																			<xs:union>
																				<xs:simpleType>
																					<xs:restriction base="T_Date" > 																					  
																					</xs:restriction>
																				</xs:simpleType>
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="0"/> 
																					</xs:restriction> 
																				</xs:simpleType> 
																			</xs:union> 
																			</xs:simpleType>
																		</xs:element> 																																	
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>																

														</xs:sequence>
													</xs:complexType>
												</xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
