DEC-CORE-dev/src/main/resources/xsd/XSD_V2012/TR_V2012/TR-SM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:simpleType name="T_Date">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])/(0[1-9]|1[0-2])/\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Devise">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="T_Mnt_Devise">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="17"/>
            <xs:fractionDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="T_Montant">
        <xs:simpleContent>
            <xs:extension base="T_Mnt_Devise">
                <xs:attribute name="Ccy" type="Devise" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EnteteDoc">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CodeIAT" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code IAT</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DateDec" type="T_Date" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Date de déclaration</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CodeAnnexe" minOccurs="1">
                                <xs:annotation>
                                    <xs:documentation source="Name" xml:lang="Fr">Code Annexe</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[A-Z]{2}-[0-9]{3}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Transferts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Transfert" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Entete">
                                            <xs:complexType>
                                                <xs:sequence>
												  <xs:element name="PeriodDec" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr">Mois de la déclaration de ce reporting</xs:documentation>
													</xs:annotation>   
												    <xs:simpleType>
												  	<xs:restriction base="xs:string">
												  		<xs:pattern value="(0[1-9]|1[0-2])[0-9]{4}"/>
												  	</xs:restriction>	
												    </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="NbrEcritures" minOccurs="1">
													<xs:annotation>
														<xs:documentation source="Name" xml:lang="Fr"> Nombre de ligne de l'enregistrement détail</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
													  <xs:restriction base="xs:string">
														<xs:pattern value="\d{6}"/>
													  </xs:restriction>
													</xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Details">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Detail" maxOccurs="unbounded">
													<xs:complexType>
														<xs:sequence>
															 <xs:element name="PeriodDec" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Mois de la déclaration de ce reporting</xs:documentation>
																</xs:annotation>
															 	<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:pattern value="(0[1-9]|1[0-2])[0-9]{4}"/>
																</xs:restriction>
															 	</xs:simpleType>
															  </xs:element>		 
															  <xs:element name="Agence" minOccurs="1">
																<xs:annotation>
																	<xs:documentation source="Name" xml:lang="Fr">Agence ayant réalisé le transfert</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																  <xs:restriction base="xs:string">
																	<xs:pattern value="\d{3}"/>
																  </xs:restriction>
																</xs:simpleType>
															  </xs:element>
															  <xs:element name="RefPatient" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>
																	  <xs:element name="TypeIdentifiant" minOccurs="1">
																		  <xs:annotation>
																		  <xs:documentation source="Name" xml:lang="Fr"> Type de l'identifiant du patient</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				  <xs:enumeration value="C">
																					  <xs:annotation>
																						<xs:documentation>C = CIN </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="P">
																					  <xs:annotation>
																						<xs:documentation>P = Passeport</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																			  </xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="CodeIdentifiant" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr"> Code identifiant du patient</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:string">
																				<xs:maxLength value="15"/>
																			  </xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="Nom" minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Nom du patient </xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="30"/>
																			</xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="Prenom" minOccurs="1">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Prenom du patient</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																			<xs:maxLength value="30"/>
																			</xs:restriction>
																		</xs:simpleType>
																	  </xs:element>																	  
																	  
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="NomPrenoMed" minOccurs="1">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Nom et Prénom du Medecin</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																			<xs:maxLength value="80"/>
																			</xs:restriction>
																		</xs:simpleType>
														    </xs:element>	
																	  <xs:element name="CodPaysDest" minOccurs="1">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Code Pays de destination</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:pattern value="\d{3}"/>
																			</xs:restriction>
																		</xs:simpleType>
																	  </xs:element>	
																	  <xs:element name="PrisCharg" minOccurs="1">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Prise en charge </xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																				  <xs:restriction base="xs:integer">
																				  	<xs:pattern value="[1-2]"/>
																					  <xs:enumeration value="1">
																						  <xs:annotation>
																							<xs:documentation>1 = OUI </xs:documentation>
																						  </xs:annotation>
																					  </xs:enumeration>
																					  <xs:enumeration value="2">
																						  <xs:annotation>
																							<xs:documentation>2 = NON</xs:documentation>
																						  </xs:annotation>
																					  </xs:enumeration>																  
																				  </xs:restriction>
																				</xs:simpleType>
																	  </xs:element>	
																	  <xs:element name="Accomp" minOccurs="1">
																		  <xs:annotation>
																		  <xs:documentation source="Name" xml:lang="Fr">Accompagné</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:restriction base="xs:integer">
																			  	<xs:pattern value="[1-2]"/>
																				  <xs:enumeration value="1">
																					  <xs:annotation>
																						<xs:documentation>1 = OUI </xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>
																				  <xs:enumeration value="2">
																					  <xs:annotation>
																						<xs:documentation>2 = NON</xs:documentation>
																					  </xs:annotation>
																				  </xs:enumeration>																  
																			  </xs:restriction>
																		  </xs:simpleType>								  
																	  </xs:element>		
															<xs:element name="RefAccompagnateur" minOccurs="1">
																<xs:complexType>
																	<xs:sequence>																	  														 																  
																	  <xs:element name="TypIdentifiantAccomp" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Type identifiant de l'accompagnateur</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:union>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:enumeration value="C">
																						<xs:annotation>
																							<xs:documentation>C = CIN </xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>
																					<xs:enumeration value="P">
																						<xs:annotation>
																							<xs:documentation>P = Passeport</xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>																  
																				</xs:restriction>
																			</xs:simpleType>
																			<xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:length value="0"/> 
																				</xs:restriction> 																				
																			</xs:simpleType>
																			</xs:union>
																		</xs:simpleType>
																																						
																	  </xs:element>
																	  <xs:element name="CodeIdentifiantAccomp" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Identifiant de l'accompagnateur</xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="15"/>
																			</xs:restriction>
																		</xs:simpleType>
																	  </xs:element>
																	  <xs:element name="NomAccomp" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Nom de l'accompagnateur </xs:documentation>
																		  </xs:annotation>																	
																			  <xs:simpleType>
																				<xs:restriction base="xs:string">
																					<xs:maxLength value="30"/>
																				</xs:restriction>
																			  </xs:simpleType>
																	  </xs:element>
																	  <xs:element name="PrenomAccomp" minOccurs="0">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Prenom de l'accompagnateur </xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:maxLength value="30"/>
																			</xs:restriction>
																		  </xs:simpleType>
																	  </xs:element>															
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="OperationTransf">
																<xs:complexType>
																	<xs:sequence>																  
																		<xs:element name="NatOp" minOccurs="1">
																			<xs:annotation>
																				<xs:documentation source="Name" xml:lang="Fr">Nature voyage (Libellé Opération)</xs:documentation>
																			</xs:annotation>																			
																				<xs:simpleType> 
																					<xs:restriction base="xs:string"> 																					  
																						<xs:pattern value="\d{4}"/>																				  
																					</xs:restriction>
																				</xs:simpleType> 
																		</xs:element>
																		<xs:element name="MntTransDev" type = 'T_Montant' minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Montant du transfert en devises</xs:documentation>
																		  </xs:annotation>																
																	  </xs:element>
																	  <xs:element name="CvMntTnd" type = 'T_Montant' minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Contre valeur en dinars du Montant du transfert </xs:documentation>
																		  </xs:annotation>									
																	  </xs:element>
																	  <xs:element name="ModTrans"  minOccurs="1">
																		  <xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Mode de transfert </xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																				<xs:restriction base="xs:integer">
																					<xs:pattern value="[1-3]"/>
																					<xs:enumeration value="1">
																						<xs:annotation>
																							<xs:documentation>1 = Virement </xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>
																					<xs:enumeration value="2">
																						<xs:annotation>
																							<xs:documentation>2 = espèces</xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>
																					<xs:enumeration value="3">
																						<xs:annotation>
																							<xs:documentation>3 = Chèque</xs:documentation>
																						</xs:annotation>
																					</xs:enumeration>
																				  </xs:restriction>
																			</xs:simpleType>																		  
																	  </xs:element>
																	  <xs:element name="NumAutBctSD" minOccurs="0">
																		  <xs:annotation>
																			  <xs:documentation source="Name" xml:lang="Fr">Numéro de l’autorisation de sortie des devises</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="xs:string"> 																					  
																						  <xs:maxLength value="10"/>																				  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		   </xs:simpleType>
																       </xs:element>
																	   <xs:element name="DatAutBctSD" minOccurs="0">
																		  <xs:annotation>
																			  <xs:documentation source="Name" xml:lang="Fr">Date de l’autorisation de sortie des devises</xs:documentation>
																		  </xs:annotation>
																		  <xs:simpleType>
																			  <xs:union> 
																				  <xs:simpleType> 
																					  <xs:restriction base="T_Date" > 																					  
																					  </xs:restriction>
																				  </xs:simpleType> 
																				  <xs:simpleType>
																					  <xs:restriction base="xs:string">
																						  <xs:length value="0"/> 
																					  </xs:restriction> 
																				  </xs:simpleType> 
																			  </xs:union> 
																		  </xs:simpleType>
																	   </xs:element> 																		    
																	</xs:sequence>														
																</xs:complexType>
															</xs:element>
															
															<xs:element name="RefAutorisationBct">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="NumAutBCT" minOccurs="0">
																		<xs:annotation>
																			<xs:documentation source="Name" xml:lang="Fr">Numéro autorisation BCT </xs:documentation>
																		</xs:annotation>
																		<xs:simpleType>
																			<xs:union> 
																			  <xs:simpleType> 
																				<xs:restriction base="xs:string"> 																  
																				  <xs:maxLength value="16"/>																		
																				</xs:restriction>
																			  </xs:simpleType>
																			  <xs:simpleType>
																				  <xs:restriction base="xs:string">
																					  <xs:length value="0"/> 
																				  </xs:restriction> 
																			  </xs:simpleType> 
																			</xs:union> 
																		</xs:simpleType>
																	</xs:element>
																	<xs:element name="DatAutBCT" minOccurs="0">
																	  <xs:annotation>
																		  <xs:documentation source="Name" xml:lang="Fr">Date autorisation BCT</xs:documentation>
																	  </xs:annotation>
																	  <xs:simpleType>
																		  <xs:union> 
																			  <xs:simpleType> 
																					  <xs:restriction base="T_Date" > 																					  
																					  </xs:restriction>
																			  </xs:simpleType> 
																			  <xs:simpleType>
																				  <xs:restriction base="xs:string">
																					  <xs:length value="0"/> 
																				  </xs:restriction> 
																			  </xs:simpleType> 
																		  </xs:union> 
																	  </xs:simpleType>
																	</xs:element>															
																</xs:sequence>
															</xs:complexType>
															</xs:element>													
														</xs:sequence>
													</xs:complexType>
												</xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
